{% extends 'base_site.html' %}

{% load static from staticfiles %}

{% block scripts %}
<script src="{% static 'search.js'%}"></script>

<script>
    $( function() {
        $( "#price" ).slider({
            range: true,
            min: 5500,
            max: 20000,
            step: 500,
            values: [ 0, 20000 ],
            slide: function( event, ui ) {
                $( "#price-amount" ).val( "Valores entre R$" + ui.values[ 0 ] + " e R$" + ui.values[ 1 ] );
            },
            change: function( event, ui ) {
                searchSchool();
            }
        });
        $( "#price-amount" ).val( "Valores entre R$" + $( "#price" ).slider( "values", 0 ) +
          " e R$" + $( "#price" ).slider( "values", 1 ) );
    } );

    $( function() {
        $( "#classification" ).slider({
            range: true,
            min: 1,
            max: 5,
            values: [1, 5],
            slide: function( event, ui ) {
                $( "#classification-amount" ).val( 'Avaliações entre ' + ui.values[ 0 ] + " e " + ui.values[ 1 ] );
            },
            change: function( event, ui ) {
                searchSchool();
              }
        });
        $( "#classification-amount" ).val( 'Avaliações entre ' + $( "#classification" ).slider( "values", 0 ) +
          " e " + $( "#classification" ).slider( "values", 1 ) );
    } );
    </script>

{% endblock scripts %}

{% block navigation %}
    <div id="navigation">
        <a href="{% url 'core:homepage' %}">Home ></a><a>School search</a>
    </div>
{% endblock %}

{% block main %}
    {% include 'schools/school_list_aside.html' %}

    <section id="search-result">
        <h1 hidden>School filter - Popinschools</h1>
    {% if object_list %}
    {% for school in object_list %}
    <div class="result">
        <a href="profile/{{ school.id }}">
            <img src="{{ school.get_image}}" alt="{{ school.name }}">
        </a>
        <h2><a href="profile/{{ school.id }}">{{ school }}</a></h2>
        <div class="school-rating"  data-toggle="modal"
                 data-target="#myModal">{{ school.ratings }}</div>
        ({{school.ratings_count}}
        Rates)
        <ul>
            {% for id, categorie in categories %}
            <li>
            	<img src="{% static 'assets/img/arrow-right.png' %}" id="id_{{ id }}" alt="{{ categorie }}">
                <a href="schools/profile/{{ school.id }}">{{ categorie}}</a>
            </li>
            {% endfor %}
        </ul>

                <span>Wifi free
                {% if school.accomodation.wifi_free %}
                    <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                    <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}|
                </span>


                <span>Lunch influded
                    {% if school.accomodation.is_lunch_included %}
                    <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                    {% else %}
                    <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                    {% endif %}|
                </span>

                <span>Breakfast
                    {% if school.accomodation.is_beakfest_included %}
                    <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                    {% else %}
                    <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                    {% endif %}|
                </span>

                <span>Dinner included
                    {% if object.accomodation.is_dinner_included %}
                    <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                    {% else %}
                    <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                    {% endif %}|
                </span>

                <span>TV in the Bedroom

                {% if object.accomodation.is_tv_in_the_bedroom %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}|
                </span>

                <span>Wardrobe
                {% if object.accomodation.is_wardrobe_in_the_bedroom %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}|
                </span>

                <span>Air conditioning
                {% if object.accomodation.is_air_in_the_badroom %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                </span>

        <p>{{ school.short_phrase|default_if_none:"" }}</p>
    </div>
    {% endfor %}
    {% else %}
        None schools matched with your search
    {% endif %}
    </section>

{% endblock %}
