{% extends 'base_site.html' %}

{% load static from staticfiles %}

{% block scripts %}
<script>
    $( function() {
        $( "#price" ).slider({
            range: true,
            min: 5500,
            max: 35000,
            values: [ 9000, 20000 ],
            slide: function( event, ui ) {
                $( "#price-amount" ).val( "Valores entre R$" + ui.values[ 0 ] + " e R$" + ui.values[ 1 ] );
            }
        });
            $( "#price-amount" ).val( "Valores entre R$" + $( "#price" ).slider( "values", 0 ) +
              " e R$" + $( "#price" ).slider( "values", 1 ) );
    } );

    $( function() {
        $( "#classification" ).slider({
            range: true,
            min: 1,
            max: 10,
            values: [ 4, 7],
            slide: function( event, ui ) {
                $( "#classification-amount" ).val( 'Avaliações entre ' + ui.values[ 0 ] + " e " + ui.values[ 1 ] );
            }
        });
            $( "#classification-amount" ).val( 'Avaliações entre ' + $( "#classification" ).slider( "values", 0 ) +
              " e " + $( "#classification" ).slider( "values", 1 ) );
    } );
    </script>

{% endblock scripts %}

{% block navigation %}
    <div id="navigation">
        <a href="{% url 'core:homepage' %}">Home ></a><a>School search</a>
    </div>
{% endblock %}

{% block main %}
    <aside id="aside-search">
    <div id="aside-title">
        <h2>Filtro de Busca</h2>
    </div>
    <form action="">
        <label for="country"><b>País</b></label>
        <input type="text" id="country">
        <label for="city"><b>Cidade</b></label>
        <input type="text" id="city">
        <label for="idiom"><b>Idioma</b></label>
        <input type="text" id="idiom">

        <p>
          <label for="classification-amount"><b>Classificação</b></label>
          <input type="text" id="classification-amount" readonly>
        </p>
        <div id="classification"></div>
        <br>
        <p>
          <label for="price-amount"><b>Preço</b></label>
          <input type="text" id="price-amount" readonly>
        </p>
        <div id="price"></div>
        <br>
        <label for="vistos"><b>Visto</b></label><br>
        <input type="radio" name="vistos" id="vistos" value="sim"><p>Sim</p><br>
        <input type="radio" name="vistos" value="nao"><p>Não</p>

        <br>
        <br>
        <label for="classes"><b>Aulas</b></label><br>
        <input type="radio" name="classes" id="classes" value="individual"><p>Individual</p><br>
        <input type="radio" name="classes" value="group"><p>Grupo</p>

        <br>
        <br>
        <label for="shift"><b>Turno</b></label><br>
        <input type="radio" name="shift" id="shift" value="morning"><p>Manhã</p><br>
        <input type="radio" name="shift" value="afternoon"><p>Tarde</p><br>
        <input type="radio" name="shift" value="night"><p>Noite</p>

        <br>
        <br>
        <label><b>Duração</b></label><br>
        <input type="checkbox" name="part-time" value="part-time"><p>Part time</p>
        <input type="checkbox" name="anual" value="anual"><p>Anual</p><br>

        <input type="checkbox" name="full-time" value="full-time"><p>Full time</p>
        <input type="checkbox" name="semester" value="semester"><p>Semestral</p><br>

        <input type="checkbox" name="intensive" value="intensive"><p>Intensivo</p>
        <input type="checkbox" name="trimestral" value="trimestral"><p>Trimestral</p><br>

        <input type="checkbox" name="business" value="business"><p>Business</p>
        <input type="checkbox" name="mensal" value="mensal"><p>Mensal</p><br>


    </form>
    </aside>

    <section id="search-result">
    {% if object_list %}
    {% for school in object_list %}
    <div class="result">
        <a href="schools/profile/{{ school.id }}">
            <img src="{{ school.get_image}}" alt="{{ school.name }}">
        </a>
        <h2><a href="schools/profile/{{ school.id }}">{{ school }}</a></h2>
        <div class="school-rating">7.5</div>
        <ul>
            {% for id, categorie in categories %}
            <li>
            	<img src="{% static 'assets/img/arrow-right.png' %}" id="id_{{ id }}" alt="{{ categorie }}">
                <a href="schools/profile/{{ school.id }}">{{ categorie}}</a>
            </li>
            {% endfor %}
        </ul>

        <p>{{ school.short_phrase|default_if_none:"" }}</p>
    </div>
    {% endfor %}
    {% else %}
        Results not found :(
    {% endif %}
    </section>
{% endblock %}
