{% extends 'base_site.html' %}

{% load static from staticfiles %}

{% block scripts %}
<script src="{% static 'search.js'%}"></script>

<script>
    $( function() {
        $( "#price" ).slider({
            range: true,
            min: 5500,
            max: 35000,
            values: [ 9000, 20000 ],
            slide: function( event, ui ) {
                $( "#price-amount" ).val( "Valores entre R$" + ui.values[ 0 ] + " e R$" + ui.values[ 1 ] );
            },
            change: function( event, ui ) {
                searchSchool();
            }
        });
        $( "#price-amount" ).val( "Valores entre R$" + $( "#price" ).slider( "values", 0 ) +
          " e R$" + $( "#price" ).slider( "values", 1 ) );
    } );

    $( function() {
        $( "#classification" ).slider({
            range: true,
            min: 1,
            max: 10,
            values: [ 4, 7],
            slide: function( event, ui ) {
                $( "#classification-amount" ).val( 'Avaliações entre ' + ui.values[ 0 ] + " e " + ui.values[ 1 ] );
            },
            change: function( event, ui ) {
                searchSchool();
              }
        });
        $( "#classification-amount" ).val( 'Avaliações entre ' + $( "#classification" ).slider( "values", 0 ) +
          " e " + $( "#classification" ).slider( "values", 1 ) );
    } );
    </script>

{% endblock scripts %}

{% block navigation %}
    <div id="navigation">
        <a href="{% url 'core:homepage' %}">Home ></a><a>School search</a>
    </div>
{% endblock %}

{% block main %}
    {% include 'schools/school_list_aside.html' %}

    <section id="search-result">
    {% if object_list %}
    {% for school in object_list %}
    <div class="result">
        <a href="schools/profile/{{ school.id }}">
            <img src="{{ school.get_image}}" alt="{{ school.name }}">
        </a>
        <h2><a href="schools/profile/{{ school.id }}">{{ school }}</a></h2>
        <div class="school-rating">7.5</div>
        <ul>
            {% for id, categorie in categories %}
            <li>
            	<img src="{% static 'assets/img/arrow-right.png' %}" id="id_{{ id }}" alt="{{ categorie }}">
                <a href="schools/profile/{{ school.id }}">{{ categorie}}</a>
            </li>
            {% endfor %}
        </ul>

        <p>{{ school.short_phrase|default_if_none:"" }}</p>
    </div>
    {% endfor %}
    {% else %}
        Results not found :(
    {% endif %}
    </section>
{% endblock %}
