{% extends 'base_site.html' %}

{% load static from staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/tinycarousel.css' %}">
{% endblock css %}

{% block scripts %}
    <script src="{% static 'assets/js/jquery.tinycarousel.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#image-slider').tinycarousel();
        });
    </script>

{% endblock scripts %}

{% block main %}

    <section class="capa">
    <div id="profile-photo" class="content">
        <img src="{{ object.get_image }}" alt="Image profile">
        <div id="profile-basics">
            <h2>{{ object.name }}</h2>
            <div class="school-rating">{{ object.ratings }}</div>
            <label>Ótima</label>
            <p>{{ object.address }}</p>
            <p>{{ object.phone }}</p>
        </div>
    </div>
    </section>

    <section id="school-form">
        <div class="content">
            <h3>Descrição da escola</h3>
            <p>{{ object.short_phrase }}</p>

            <div class="info-grid">
                <h3>Course and Fees</h3>
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                <p>Acreditation or Enrolmente fee</p>
                <p>€ {{ object.registration_fee }}</p>
                <br>
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                <p>Workbook</p>
                <p>€ {{ object.workbook}}</p>
                <br>
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                <p>Refounds</p>
                <p>€ {{ object.refounds }}</p>
            </div>

            <div class="info-grid price">
                <h3>Price</h3>
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                <p>Low season</p>
                <p>{{ object.low_season }}</p>
                <br>
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                <p>High season</p>
                <p> {{ object.high_season }} </p>
            </div>

            <div class="info-grid">
                <h3>Student accomodation</h3>

                {% if object.accomodation.wifi_free %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>Registration free</p><br>


                {% if object.accomodation.wifi_free %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>Wifi free</p><br>

                <br>
                <br>

                {% if object.accomodation.is_lunch_included %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>Lunch included</p><br>

                {% if object.accomodation.is_beakfest_included %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>Breackfast</p>

                {% if object.accomodation.is_dinner_included %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>Dinner</p>

                <br>

                {% if object.accomodation.is_tv_in_the_bedroom %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>TV in the Bedroom</p>

                {% if object.accomodation.is_wardrobe_in_the_bedroom %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>Wardrobe</p>

                {% if object.accomodation.is_air_in_the_badroom %}
                <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                {% else %}
                <img src="{% static 'assets/img/right-arrow-disable.png' %}" alt="">
                {% endif %}
                <p>Air conditioning</p>

                <br>
                <br>
                <h3>Diferencials</h3>
                <p>{{ object.accomodation.differentials }}
                </p>
            </div>

             <div class="info-grid-3">
                 <h3>List of events and prices</h3>
                 {% for event in object.events %}
                     <img src="{% static 'assets/img/arrow-right.png' %}" alt="">
                     <p>{{ event.week_day }}</p>
                     <p>€ {{ event.price }}</p>
                     <p>{{ event.description }}</p><br>
                 {% endfor %}
            </div>
        </div>
       	<div id="image-slider">
            <a class="buttons prev" href="#">&#60;</a>
            <div class="viewport">
                <ul class="overview">
                    {% for file in object.galery %}
                        <li><img src="{{ file.image.url }}" /></li>
                    {% endfor %}
                </ul>
            </div>
            <a class="buttons next" href="#">&#62;</a>
        </div>

        <div class="video-galery content">
            <h3>Galeria de vídeos</h3>
            {% for video in object.videos %}
                {{ video.embeded_code|safe }}
            {% endfor %}
        </div>

        <div class="map">
            <h3>Localização</h3>
            {{ object.embeded_map|safe }}
        </div>

        <div class="content">
            <div class="comment">
                <h3>Comentários</h3>
                <div class="img-comment">
                    <img src="{% static 'assets/img/square.png' %}" alt="">
                </div>
                <div class="comment-content">
                    <h3>Márcio Gabriel</h3>
                    <p>18 de setembro 2016</p>
                    <a href="#">Responder</a><br>
                    <div class="school-rating">7.5</div>
                    <label>Muito boa</label>
                    <a href="#">Denunciar comentário</a>
                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                </div>

            </div>

            <!--Comment reply -->
            <div class="comment replay">
                <div class="img-comment">
                    <img src="{% static 'assets/img/square.png' %}" alt="">
                </div>
                <div class="comment-content">
                    <h3>Márcio Gabriel</h3>
                    <p>18 de setembro 2016</p>
                    <a href="#">Responder</a><br>
                    <div class="school-rating">7.5</div>
                    <label>Muito boa</label>
                    <a href="#">Denunciar comentário</a>
                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                </div>
            </div>
            <!--End comment reply -->

            <div class="comment">
                <div class="img-comment">
                    <img src="{% static 'assets/img/square.png' %}" alt="">
                </div>
                <div class="comment-content">
                    <h3>Márcio Gabriel</h3>
                    <p>18 de setembro 2016</p>
                    <a href="#">Responder</a><br>
                    <div class="school-rating">7.5</div>
                    <label>Muito boa</label>
                    <a href="#">Denunciar comentário</a>
                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                </div>

            </div>

            <!--Comment reply -->
            <div class="comment replay">
                <div class="img-comment">
                    <img src="{% static 'assets/img/square.png' %}" alt="">
                </div>
                <div class="comment-content">
                    <h3>Márcio Gabriel</h3>
                    <p>18 de setembro 2016</p>
                    <a href="#">Responder</a><br>
                    <div class="school-rating">7.5</div>
                    <label>Muito boa</label>
                    <a href="#">Denunciar comentário</a>
                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                </div>
            </div>
            <!--End comment reply -->
            <button class="load-comments"><i class="fa fa-refresh fa-large" aria-hidden="true"></i>
                Carregar mais comentários
            </button>

            <form action="">
                <input type="text" id="name" placeholder="Nome">
                <input type="email" name="email" placeholder="E-mail">
                <textarea name="comment" id="comment-message" cols="30" rows="10" placeholder="Comentário"></textarea>
                <button class="btn btn-danger">Post comment</button>
            </form>
        </div>
    </section>
{% endblock main %}
