{% extends 'base_site.html' %}

{% load static from staticfiles %}

{% block main %}

    <div class="content about-us">
        <h1>About us</h1>


        <h2>Best schools around the world</h2>
        <p>Nothing is perfect we know, but when it comes to learning a new
            language the school needs to be perfect to you, right? With that in mind
            we created Popinschool, a place where you can share your experiences
            and read other students’ feedback to help you choose your school.
            Join Popinschool and let’s make learning easier and perfect for you.
        </p>

    <p>
        We love birds, languages and a good revolution. With that in mind we
        created Popinschool, a place to share worldwide learning experiences and
        school reviews. Now you can find the best school for you anywhere in the
        globe and also read real student’s feedback to help you decide where you
        want to study. Join Popinschool and let’s start a learning revolution
        together. Popinschool. Learn away.
        </p>
    </div>
{% endblock main %}