{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/roboto.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <meta name="description" content="Popinschool - Find the best school choice for yout intership">
    <meta name="keywords" content="Popinschools, interchip, travel, europe, school, english">

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <title>Popinschool - Home </title>
</head>
<body>
    <header class="red-header">
        <div id="social-top">
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/popinschool/">
                    <img src="{% static 'assets/img/facebook.png' %}" alt="Facebook"></a></li>
                <li><a target="_blank" href="https://plus.google.com/118224126714322059589">
                    <img src="{% static 'assets/img/google-plus.png' %}" alt="Instagram"></a></li>
                <li><a target="_blank" href="https://www.instagram.com/popinschool/">
                    <img target="_blank" src="{% static 'assets/img/instagram.png' %}" alt="Instagram"></a></li>
                <li><a target="_blank" href="https://twitter.com/Popinschool">
                    <img target="_blank" src="{% static 'assets/img/twitter.png' %}" alt="Twitter"></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCQhsELM-HcORaQJ4aTiWcmQ">
                    <img src="{% static 'assets/img/youtube.png' %}" alt="Twitter"></a></li>
            </ul>
        </div>

        <div id="auth" class="content">
            <div id="logo-home"></div>

            <div id="login">
                {% if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}" class="btn btn-login btn-color-home btn-header">
                        FAZER LOGOUT
                    </a>
                    <h3 class="btn btn-login btn-color-home btn-header">
                        Seja bem vindo {{ request.user.first_name }}
                    </h3>
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-login btn-color-home btn-header">
                        FAZER LOGIN
                    </a>
                                <a href="{% url 'account_signup' %}" class="btn btn-create-profile btn-color-home btn-header">
                    CRIE SEU PERFIL</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <section id="search">
            <div class="content search-content">
                <h1>Escolha a melhor escola para você</h1>
                <div class="search-box">
                    <form action="{% url 'schools:school-list' %}" method="GET">
                        <input type="text" name="country" id="id_country" placeholder="Em qual país você quer estudar">
                        <button class="btn btn-danger">BUSCAR</button>
                    </form>
                </div>
            </div>
        </section>

        <section id="schools">
            <div class="content">
                <h2>Best schools around the world</h2>
                <p>Nothing is perfect we know, but when it comes to learning a new language the school
                    needs to be perfect to you, right? With that in mind we created Popinschool,
                    a place where you can share your experiences and read other students’ feedback to
                    help you choose your school. Join Popinschool and let’s make
                    learning easier and perfect for you.
                </p>
                {% for feed in feeds %}
                <div class="school">
                    <h3>{{ feed.school.name }}</h3>
                    <img src="{% static feed.school.get_image %}" alt="{{ feed.school.name }}">
                </div>
                {% endfor %}
                
            </div>
        </section>
    </main>

    <footer id="footer-home">
        <div id="container-footer">
            <div class="content">
                <h2>Popinschool</h2>
                <p>We love birds, languages and a good revolution. With that in mind we created Popinschool,
                    a place to share worldwide learning experiences and school reviews.
                    Now you can find the best school for you anywhere in the globe and also read real student’s
                    feedback to help you decide where you want to study. Join Popinschool and let’s start a
                    learning revolution together. Popinschool. Learn away.
                </p>
            </div>
        </div>
    </footer>

    <div class="rights">
        <div class="content">
            <div id="social-footer">
                <p>Todos os direitos reservados</p>
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/popinschool/">
                        <img src="{% static 'assets/img/facebook.png' %}" alt="Facebook"></a></li>
                    <li><a target="_blank" href="https://plus.google.com/118224126714322059589">
                        <img src="{% static 'assets/img/google-plus.png' %}" alt="Instagram"></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/popinschool/">
                        <img target="_blank" src="{% static 'assets/img/instagram.png' %}" alt="Instagram"></a></li>
                    <li><a target="_blank" href="https://twitter.com/Popinschool">
                        <img target="_blank" src="{% static 'assets/img/twitter.png' %}" alt="Twitter"></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCQhsELM-HcORaQJ4aTiWcmQ">
                        <img src="{% static 'assets/img/youtube.png' %}" alt="Twitter"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>